<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link th:href="@{/css/main.css}" rel="stylesheet" >
	<style type="text/css">  
        body{
		    display: flex;
		    width: 100vw;
		    height: 100vh;
		    font-family: 'Londrina Solid', cursive;
		    background-image: url('/img/signin.webp');
		}
	</style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <h2 class="text-center mt-5 mb-3" style = "color:pink">Sign in</h2>
                <form th:action="@{/j_spring_security_check}" method="post" class="border rounded w-100 mb-5 mx-auto px-3 pt-3 bg-light">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" id="username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" id="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button style="color:white;background-color: pink;" name="submit" type="submit" id="btnSignin" class="btn btn-success px-5">Login</button>
                    </div>
                    <div class="form-group">
                        <p>Create account <a style="color:pink" href="signup">Click here</a></p>
                    </div>
                </form>
                <div class="mess-error" style="color: red;"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var username = $("#username");
        var password = $("#password");
        var messError = $(".mess-error");

        $(document).on('click', '#btnSignin', function() {
            if (username.val() == "") {
                messError.text("Please enter your username!!!");
                return false;
            }
            if (password.val() == "") {
                messError.text("Please enter your password!!!");
                return false;
            }
        })
    </script>
</body>

</html>